<% unless flash[:error] %>
<div id="approved_notice"> Transaction was completed successfully and your order has been processed. <br>
  <%= @notice %> </div>
<table id="unified_payments_approved_info">
  <tr>
    <td class='info_attr' width="280" valign="top">Response :</td>
    <td class='info_val' align="left" valign="top"><%= @card_transaction.response_description %></td>
  </tr>
  <tr>
    <td class='info_attr' valign="top">Order Description:</td>
    <td class='info_val' align="left" valign="top"<%= @card_transaction.order_description %></td>
  </tr>
  <tr>
    <td class='info_attr' valign="top">Amount:</td>
    <td class='info_val' align="left" valign="top"><%= number_to_currency(@card_transaction.amount) %></td>
  </tr>
  <tr>
    <td class='info_attr' valign="top">Merchant Reference Number:</td>
    <td class='info_val' align="left" valign="top"><%= @card_transaction.payment_transaction_id %></td>
  </tr>
</table>
<div id="unified_payment_detail_link_container">View <a href="/orders/<%= @card_transaction.order.number %>" target="_parent">Order Details</a></div>
<% else %>
<div id="approved_fail_notice"> Order was not processed. Please contact support team for any queries.</div>
<% end %>